#ignore node_modules, .vscode
/node_modules
/.vscode
package.json
package-lock.json
/Jokers/myjs.txt
/HoodieDelivery/node_modules/
/HoodieDelivery/package.json
/HoodieDelivery/package-lock.json
Monthly-Expenses.pdf
'Expenses Table'/node_modules/
